.formParent {
  background-color: white;
  display: flex;
  justify-content: center;
}


.input {
  background-color: white;
  height: 24px;
  width: 150px; 
}

.button2 {
  background-color: blue;
  height: 30px;
  width: 150px; 
  color: white;
}

